@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-default: hsl(350, 89%, 60%);
  --color-secondary-default: hsl(189, 94%, 43%);

  --color-primary-default2: #2cd4f7;
  --color-secondary-default2: #b1ff0a;

  --color-primary-default3: #f7e22c;
  --color-secondary-default3: #ff0a64;

  --color-primary-default4: #f4613e;
  --color-secondary-default4: hsl(189, 94%, 43%);

  --color-primary-fall: #f7b42c;
  --color-secondary-fall: #ff0a0a;

  --color-primary-halloween: #ff6c00;
  --color-secondary-halloween: #9700f8;

  --color-primary-christmas: hsl(0deg 86.39% 55.93%);
  --color-secondary-christmas: hsl(107.7deg 88.55% 38.86%);

  --color-primary-halloween: #ff6c00;
  --color-secondary-halloween: #9700f8;

  --color-primary: var(--color-primary-default);
  --color-secondary: var(--color-secondary-default);

  --color-primary-50: color-mix(in srgb, var(--color-primary), #fff 85%);
  --color-primary-100: color-mix(in srgb, var(--color-primary), #fff 70%);
  --color-primary-200: color-mix(in srgb, var(--color-primary), #fff 40%);
  --color-primary-300: color-mix(in srgb, var(--color-primary), #fff 16%);
  --color-primary-400: color-mix(in srgb, var(--color-primary), #fff 8%);
  --color-primary-500: var(--color-primary);
  --color-primary-600: color-mix(in srgb, var(--color-primary), #000 11%);
  --color-primary-700: color-mix(in srgb, var(--color-primary), #000 22%);
  --color-primary-800: color-mix(in srgb, var(--color-primary), #000 33%);
  --color-primary-900: color-mix(in srgb, var(--color-primary), #000 44%);

  --color-secondary-50: color-mix(in srgb, var(--color-secondary), #fff 80%);
  --color-secondary-100: color-mix(in srgb, var(--color-secondary), #fff 50%);
  --color-secondary-200: color-mix(in srgb, var(--color-secondary), #fff 40%);
  --color-secondary-300: color-mix(in srgb, var(--color-secondary), #fff 20%);
  --color-secondary-400: color-mix(in srgb, var(--color-secondary), #fff 10%);
  --color-secondary-500: var(--color-secondary);
  --color-secondary-600: color-mix(in srgb, var(--color-secondary), #000 11%);
  --color-secondary-700: color-mix(in srgb, var(--color-secondary), #000 22%);
  --color-secondary-800: color-mix(in srgb, var(--color-secondary), #000 33%);
  --color-secondary-900: color-mix(in srgb, var(--color-secondary), #000 44%);
}

@layer base {
  * {
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      @apply bg-gray-500;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-gray-800;
    }
  }

  body {
    ::selection {
      @apply bg-primary-500;
    }

    ::-moz-selection {
      @apply bg-primary-500;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-extrabold;
  }

  h6 {
    @apply uppercase tracking-widest text-xs lg:text-sm mb-3;
  }

  .text-shadow {
    text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
  }

  .up-title {
    @apply uppercase font-display text-xl lg:text-2xl leading-none lg:leading-tight my-6 font-extrabold tracking-widest;

    &-lg {
      @apply lg:text-7xl;
    }

    &-sm {
      @apply text-xs lg:text-sm;
    }
  }

  .gradient-text,
  .primary-gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-b from-primary-200 to-primary-600;
  }

  .secondary-gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-br from-secondary-600 to-secondary-200;
  }

  .pb-16x9 {
    padding-bottom: 56.25%;
  }

  .photo-data-grid {
    @apply rounded-lg overflow-hidden;
    box-shadow: 0 0 0 1px var(--color-gray-600);

    &__items {
      @apply m-0 p-0 mb-0;
      margin-right: -1px;
      margin-bottom: -1px;
      margin-bottom: -1px !important;

      &__item {
        @apply border-b border-r border-gray-600 px-4 py-3 relative dark:hover:bg-gray-800 lg:px-4 lg:py-4;
        line-height: 1;
        margin-right: -1px;

        &:after {
          @apply border-r border-gray-600 absolute right-0 top-0 h-full;
        }

        & > strong {
          @apply block font-display text-gray-300 text-xs tracking-widest uppercase mb-2;
        }

        & > div {
          @apply leading-tight text-lg;
        }

        & .taglist {
          @apply mt-2;
        }
      }
    }
  }

  .separated .swiper-wrapper {
    @apply divide-x divide-gray-200 dark:divide-gray-800;
  }
}
